<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alkonost Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- this is a banner bar, I am trying to keep it like YouTube with a redirect and profile access -->
    <div class="banner">
        <a class="banner-logo" href="/homePage"> Alkonost</a>
        <div class="banner-links">
            <a href="/preferences">Preference Page</a>
            <a href="/profile">Profile Page</a>
        </div>
    </div>

    <!-- this is an attempt to make a dynamically loaded recommendation row of 3-5 cards -->
    <div class="container">
        <h1>Welcome To Alkonost!</h1>
        <p><em>Here are your recommendations. Go to preferences in the upper corner to
        make the recommendations more accurate.</em></p>
        <div class="recRow" id="recList">
            </div>
    </div>

    <!-- I feel like footers make the webpage more professional, so I think this works best-->
<footer class="footer">
    <p> Alkonost made by Kristopher Rush. Contact me at kris.rush.projectsfeedback@gmail.com</p>
</footer>
<script src="{{url_for('static' , filename='main.js') }}"></script>
</body>
</html>