<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alkonost Home-Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="nav_button">
    <a href="/input">Fill out your Preferences!</a>
    </div>
    <div class="container">
        <h1>Welcome to My Portfolio!</h1>
        <p>Site is launching soon. Stay tuned!</p>
    </div>

<script src="{{url_for('static' , filename='main.js') }}"></script>
</body>
</html>