<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alkonost Splash-page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="nav_button">
    <a href="/home">Home</a>
</div>
    <div class="container">
        <h1>Hello! Welcome to Alkonost!</h1>
        <p>The site is still under development, Soon you can come here whenever you need a musical recommendation!</p>
        <p><strong>This site may not work well for mobile users at this time.</strong></p>
    </div>


<footer class="footer">
    <p> Alkonost made by Kristopher Rush. Contact me at kris.rush.projectsfeedback@gmail.com</p>
</footer>
<script src="{{url_for('static' , filename='main.js') }}"></script>
</body>
</html>