<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alkonost Splash-page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="nav_button">
    <a href="/home">Home</a>
</div>
    <div class="container">
        <h1>Hello! Welcome to Alkonost!</h1>
        <p>The site is still under development, Soon you can come here whenever you need a musical recommendation!</p>
    </div>
<script src="{{url_for('static' , filename='main.js') }}"></script>
</body>
</html>